@import "https://fonts.googleapis.com/css?family=Montserrat";

@import "https://fonts.googleapis.com/css?family=Lato";

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

hr {
    border: none;
    float: left;
    width: calc(100% + 30px);
    height: 1px;
    background-color: #e6e6e6;
    margin: 15px 0 20px;
    margin-left: -15px;
    margin-right: -15px;
}

h1,
h2,
h1,
h4,
h5,
h6 {
    margin: 10px 0 0;
    padding: 10px 15px;
}

h1 {
    font-size: 36px;
    padding: 0;
    float: none;
    background-color: transparent;
    color: inherit;
}

h2 {
    font-size: 28px;
}

h1 {
    font-size: 20px;
}

header {
    float: left;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
    background-color: black;
}

header .logo {
    float: left;
    font: 0/0 a;
    background-size: 138px 24px;
    background-color: black;
    width: 180px;
    height: 65px;
    border: 0;
    outline: 0;
    position: relative;
    z-index: 99999;
}

section {
    position: relative;
    float: left;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 30px;
    background-color: white;
}

section h1 {
    background-color: #000;
    color: white;
    float: left;
    clear: both;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 100%;
}

section h1:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: -4px;
    top: 4px;
    z-index: -1;
    border-radius: inherit;
    opacity: 0.5;
}

section h1.left--to--right {
    background-color: #1ED21E;
}

section h1.left--to--right:after {
    background-color: #8EE48E;
}

section h1.right--to--left {
    background-color: #D21E1E;
}

section h1.right--to--left:after {
    background-color: #E48E8E;
}

section h1.outwards {
    background-color: #f8f812;
}

section h1.outwards:after {
    background-color: #e9e921;
}

section h1.inwards {
    background-color: #f58a10;
}

section h1.inwards:after {
    background-color: #d38123;
}

section h1 + div {
    width: 100%;
    height: 100px;
    float: left;
    margin: 0 0 15px;
    background-color: #f1f1f1;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section h1 + div span {
    font-size: 3vw;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    transition: all 0.2s ease-in-out;
    position: relative;
}

@media screen and (min-width: 992px) {
    section h1 + div span {
        font-size: 36px;
    }
}

section h1 + div span:before, section h1 + div span:after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0px;
    height: 5px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.75s;
    opacity: 0;
}

section h1 + div span.ltr:after {
    left: 0;
    background-color: #1ED21E;
}

section h1 + div span.rtl:after {
    right: 0;
    background-color: #D21E1E;
}

section h1 + div span.out:before {
    left: calc(50%);
    background-color: #f8f812;
}

section h1 + div span.out:after {
    right: calc(50%);
    background-color: #f8f812;
}

section h1 + div span.in:before {
    left: 0;
    background-color: #f58a10;
}

section h1 + div span.in:after {
    right: 0;
    background-color: #f58a10;
}

section h1 + div:hover {
    cursor: pointer;
}

section h1 + div:hover span:before, section h1 + div:hover span:after {
    width: 100%;
    opacity: 1;
}

section h1 + div:hover span.out:before, section h1 + div:hover span.out:after, section h1 + div:hover span.in:before, section h1 + div:hover span.in:after {
    width: 50%;
}
